.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  object-fit: cover; /* Correctly displays image at any proportion */
  width: 282px;
  height: 282px;
}

.card__text {
  display: flex;
  background: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-top: 25px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url("../images/Vector\ \(4\).svg") no-repeat center;
  width: 21px;
  height: 18px;

  border: none;
}

.card__like-button:hover {
  border-color: gray;
  opacity: 0.5;
  cursor: pointer;
}

/**Mobile Phone ***/

@media screen and (max-width: 320px) {
  .card {
    margin-top: 36px;
  }
}
