.footer {
  margin-top: 67px;
}

.footer__text {
  margin: 0;
  color: #545454;
  max-width: 318px;
}

/*** Tablet View ***/
@media screen and (min-width: 320px) and (max-width: 800px) {
  .footer {
    /* padding-top: 67px; */
  }
  .footer__text {
    margin-left: 30px;
  }
}
