/**********HEADER CSS*****************/

.header {
  padding-top: 45px;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
}

.header__image {
  border-radius: 5px;
}

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
    margin-bottom: 42px;
  }
  .header__image {
    max-width: 126px;
    margin-left: 27px;
    margin-top: 28px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 321px) and (max-width: 780px) {
  .header__image {
    margin-top: 28px;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    margin-bottom: 40px;
  }
}
/******End Header CSS **********/
