/**********HEADER CSS*****************/

.header {
  padding-top: 45px;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
}

.header__image {
  border-radius: 5px;
}

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
  }
  .header__image {
    max-width: 126px;
  }
}

/******End Header CSS **********/
