.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  padding: 0 19px;

  /* Initial Animation State */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal_open {
  display: flex;
  align-items: center;
  justify-content: center;

  /* Animation */
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  padding: 36px;
  box-sizing: border-box;
  max-width: 430px;
}

.modal__close {
  background-image: url("../images/close.svg");
  border: none;
  background-color: transparent;
  cursor: pointer;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  color: #000;
  width: 330px;
  height: 23px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 54px;
}

.modal__form-input {
  width: 100%;
  height: 27px;
  border: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.modal__form-input:last-of-type {
  margin-bottom: 48px;
}

.modal__button {
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  font-family: "Inter", Arial, sans-serif;
}

.modal__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__container_preview {
  position: relative;
  margin: auto;
  border-radius: 10px;
  /* padding: 36px; */
  box-sizing: border-box;
  max-width: 430px;
}

.modal__image {
  max-width: 433px;
}

.modal__image_heading {
  font-family: "Inter";
  font-weight: 400px;
  line-height: 15px;
  max-width: 291px;
  height: 12px;
  position: relative;
  size: 12px;
}

@media screen and (max-width: 425px) {
  .modal__container {
    max-width: 282px;
  }

  .modal__close {
    left: calc(100% - 25px);
    bottom: calc(100% + 13px);
    width: 26px;
    height: 26px;
  }

  .modal__heading {
    font-size: 18px;
  }

  .modal__image {
    max-width: 240px;
    height: 299px;
  }
}
