.page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.page__content {
  /**This Code makes content fit on smaller screens **/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
  .page {
    margin-left: 19px;
    margin-right: 19px;
  }
}
