/******PROFILE CSS***********/
.profile {
  display: flex;
  align-items: center;
  padding: 40px;
}

.profile__image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 28px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.profile__edit-button {
  background: transparent;
  background-image: url("../images/Vector.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  grid-area: button;
}

.profile__add-button {
  background: transparent url("../images/Add\ Button.svg") no-repeat center;
  width: 150px;
  height: 50px;
  margin-left: auto;
}

.profile__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  grid-area: description;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .profile__description {
    text-align: center;
    width: 100%;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}

/****END Profile CSS ******/
