/******PROFILE CSS***********/
.profile {
  display: flex;
  align-items: center;
  padding: 40px;
}

.profile__image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 28px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  white-space: nowrap;
}

.profile__edit-button {
  border: 1px solid #fff;
  background: transparent;
  background-image: url("../images/Vector\ \(3\).svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  grid-area: button;
  margin-left: 18px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url("../images/Vector\ \(2\).svg") no-repeat center;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 1px solid #fff;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  grid-area: description;
  margin: 0;
}

/*** Mobile ***/
@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    padding-top: 42px;
  }

  .profile__image {
    margin-left: 101px;
    margin-right: 99px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .profile__title {
    max-width: 196px;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    margin-left: 40px;
    margin-top: 42px;

    /**Text Overflow on Mobile **/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .profile__description {
    text-align: center;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 36px;

    /** Text Overflow Mobile **/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .profile__edit-button {
    margin-left: auto;
    margin-right: 15px;
    margin-top: auto;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}

/****END Profile CSS ******/
