.popup__error {
  color: red;
  width: 16px;
  height: 12px;
  top: 5px;
  right: 194px;
  opacity: 1;
}

.popup__form {
}

.popup__input {
}

.popup__button {
  opacity: 1;
}

.popup__button:hover {
}

.popup__button_disabled {
  opacity: 0.2;
}

.popup__input_type_error {
}

.popup__error_visible {
}
