.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  object-fit: cover; /* Correctly displays image at any proportion */
  width: 282px;
  height: 282px;
  cursor: pointer;
}

.card__text {
  display: flex;
  background: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-top: 25px;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
}

.card__like-button {
  background: transparent url("../images/Vector\ \(4\).svg") no-repeat center;
  width: 23px;
  height: 18px;
  border: none;
}

.card__like-button_active {
  background: url("../images/like-active.svg") no-repeat center;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete {
  background: transparent url("../images/Trash.svg") no-repeat center;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
}

.card__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}
